{% extends 'parkinglotmanager/base.html' %}
{% block main %}
<li>RFID: {{ parking.rfid }}</li>
{% for parkinglot in parking.parkinglotid.all %}
{% if parking.rfid.pk == rfid.pk %}
<li>Lot: {{ parkinglot }}</li>
{% endif %}
{% endfor %}
<li>Parking Spot: {{ parking.parkinglotid }}</li>
<li>Plate Number: {{ parking.platenumber }}</li>
<li>Image: {{ parking.plateimgurl }}</li>
<li>Date & Time: {{ parking.checkintime }}</li>
{% endblock %}
{% block titleDoc %}
Detail {{ parking.rfid }}
{% endblock %}
